# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.g.dart

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/google-services.json

# iOS
**/ios/.symlinks/
**/ios/Pods/
**/ios/Runner/GoogleService-Info.plist
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Env files
**/.env
**/.env.*

# FVM
.fvm/flutter_sdk

# IDE
.idea/
.vscode/
*.iml

# Allow example env templates (placeholders only)
!**/.env.example
